services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    environment:
      PORT: 3001
      CLIENT_ORIGIN: http://10.0.0.184:80
    restart: unless-stopped

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
    depends_on:
      - server
    restart: unless-stopped
