version: '3.9'

services:
  app:
    build:
      context: .
      target: server
    environment:
      PORT: 3001
      CLIENT_ORIGIN: http://chat.it4.iktim.no
    restart: unless-stopped
    networks:
      - chat-network

  nginx:
    build:
      context: .
      target: nginx
    depends_on:
      - app
    ports:
      - "80:80"
    restart: unless-stopped
    networks:
      - chat-network

networks:
  chat-network:
    driver: bridge
